.TotalSumWrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: bold;
    height: 30px;
    padding: 20px 0 40px 0;
}

.TotalSumWrapper p {
    margin: 0;
}
