.ModalWrapper {
    position: fixed;
    justify-content: center;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    font-size: 18px;
    color: #424242;
    backdrop-filter: brightness(0.5);
}

.ModalContent {
    align-self: center;
    border-radius: 0;
    padding: 40px;
    max-width: 700px;
    width: 100%;
    background-color: #fff;
}

.ModalHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: none;
    padding: 0 0 20px 0;
    height: 30px;
}

.ModalHeader h3 {
    font-size: 24px;
    margin: 0;
}

.ModalHeader::before,
.ModalHeader::after {
    content: none;
}

.ModalBody {
    padding: 20px 0;
    display: flex;
    flex-direction: column;
}

.ModalFooter {
    border: none;
    display: flex;
    justify-content: flex-end;
    padding: 20px 0 0;
}
